* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.wrapper {
  min-height: 100%;
  min-width: 100%;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #081923;
}

.calculator_window {
  width: 500px;
  height: 700px;
}

.calculator_window .container {
  height: 100%;
  width: 100%;
}

.calculator_window .container .calculator_window_row {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.calculator_window .container .calculator_window_row .window_result {
  min-height: 93px;
  font-size: 23px;
  background: #ffffff;
  text-align: right;
  padding: 35px 7px;
  text-transform: uppercase;
}

.calculator_window .container .calculator_window_row .window_keys {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.calculator_window .container .calculator_window_row .window_keys .key_item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  background: #0c2635;
  border: 0.1px solid #0819232a;
  cursor: pointer;
}

.calculator_window .container .calculator_window_row .window_keys .key_item .item_letter {
  text-transform: uppercase;
  text-align: center;
  font-size: 23px;
  color: #ffffff;
}

.calculator_window .container .calculator_window_row .window_keys .key_item:first-child {
  background: #ff2d79;
}

.calculator_window .container .calculator_window_row .window_keys .key_item:last-child {
  background: #0390d0;
}

.calculator_window .container .calculator_window_row .window_keys .key_item:active {
  background: #2ecc71;
}
